.Banner {
	background-image: url('../../assets/background-header.png');
	background-size: cover;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 137px;
	justify-content: flex-end;
	padding: 24px;
	user-select: none;
	width: 255px;
	h2 {
		@include H2;
        color: $white;
        margin-bottom: .25rem;
	}
	p {
		@include Body2;
		color: hsla(0, 0%, 100%, 0.75);
	}
}
