.Category {
    height: 168px;
    width: 255px;
    margin: 24px 0;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: $white;
    .Active-Category {
        background-color: $blue;
        h1 {
            color: $white;
        }
    }
}
