.Category {
    height: 168px;
    width: 255px;
    margin: 24px 0;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: $white;
    div {
        margin: auto 14px 8px 0;
        padding: 5px 16px 6px;
        border-radius: 10px;
        background-color: $gray;
        h1 {
            @include Body3;
            color: $blue;
            user-select: none;
        }
        &:hover {
            cursor: pointer;
            background-color: hsl(230, 100%, 90%);
        }
    }
    .Active-Category {
        background-color: $blue;
        h1 {
            color: $white;
        }
    }
}
