.FeedbackItem {
	background-color: $white;
	border-radius: 10px;
	display: flex;
	height: 151px;
	margin-bottom: 20px;
	padding: 2rem;
	width: 825px;
	.Content {
        text-decoration: none;
		h3 {
			@include H3;
			color: $darkGray;
		}
		p {
			@include Body1;
			margin: 4px 0 12px;
			color: $back;
		}
	}

}
