.Header {
	@include H4;
	align-items: center;
	background-color: hsl(230, 31%, 31%);
	border-radius: 10px;
	color: white;
	display: flex;
	height: 72px;
	margin-bottom: 24px;
	width: 825px;
	p {
		font-weight: 700;
	}
	& > svg {
		margin: 0 16px 0 24px;
	}
	.Selection {
		align-items: center;
		display: flex;
		margin-left: 38px;
		p {
			font-weight: 400;
		}
		select {
			border: none;
			margin-left: .5rem;
		}
	}
}
