.Header {
	@include H4;
	height: 72px;
	width: 825px;
	display: flex;
	align-items: center;
	color: white;
	border-radius: 10px;
	background-color: hsl(230, 31%, 31%);
	p {
		font-weight: 700;
	}
	& > svg {
		margin: 0 16px 0 24px;
	}
	.Selection {
		margin-left: 38px;
		display: flex;
		align-items: center;
		p {
			font-weight: 400;
		}
		select {
			margin-left: .5rem;
			border: none;
		}
	}
	button {
		@include Button1;
		height: 44px;
		width: 158px;
		margin: 14px 16px 14px auto;
		background-color: $purple;
		border: none;
		border-radius: 10px;
	}
}
