.NoFeedback {
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    h1 {
        @include H1;
        color: $darkGray;
        margin: 53px 0 16px;
    }
    p {
        @include Body1;
        color: $back;
    }
}