.Upvote {
	@include Body3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 53px;
	width: 40px;
	margin-right: 40px;
	border-radius: 10px;
	background-color: hsl(230, 86%, 97%);
	svg {
		cursor: pointer;
	}
	p {
		margin: 8px 0.5rem 0px;
		color: $darkGray;
		user-select: none;
	}
	&:hover {
		background-color: hsl(230, 100%, 91%);
	}
	&:active {
		background-color: $blue;
		path {
			stroke: white;
		}
		p {
			color: white;
		}
	}
}