.Upvote {
	@include Body3;
	align-items: center;
	background-color: hsl(230, 86%, 97%);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	margin-right: 40px;
	svg {
		cursor: pointer;
	}
	p {
		color: $darkGray;
		user-select: none;
	}
	&:hover {
		background-color: hsl(230, 100%, 91%);
	}
	&:active {
		background-color: $blue;
		path {
			stroke: white;
		}
		p {
			color: white;
		}
	}
}

.Column {
	display: flex;
	flex-direction: column;
	height: 53px;
	width: 40px;
	p {
		margin: 8px 0.5rem 0px;
	}
}

.Row {
	height: 40px;
	width: 69px;
	p {
		margin-left: 0.5rem;
	}
}
