// Base SCSS
@import 'styles/base/colors';
@import 'styles/base/mixins';
@import 'styles/base/typography';

// Screens SCSS
@import 'styles/screens/Details';
@import 'styles/screens/Home';
@import 'styles/screens/Roadmap';
@import 'styles/screens/EditFeedback';
@import 'styles/screens/Suggestions';
@import 'styles/screens/NewFeedback';

// Components SCSS
@import 'styles/components/BackButton';
@import 'styles/components/Banner.scss';
@import 'styles/components/Category';
@import 'styles/components/CategoryItem';
@import 'styles/components/CommentTotal';
@import 'styles/components/FeedbackButton';
@import 'styles/components/FeedbackItem';
@import 'styles/components/Header';
@import 'styles/components/NoFeedback';
@import 'styles/components/RoadmapItem';
@import 'styles/components/RoadmapModule';
@import 'styles/components/Upvote';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
