.Roadmap {
	background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    padding: 10vh 165px 0;
    width: 100vw;
	header {
		display: flex;
        background-color: $backButton;
        border-radius: 10px;
        padding: 27px 33px;
		div {
			height: 59px;
			max-width: 103px;
            h1 {
                color: $white;
            }
		}
	}
    .Container {
        display: flex;
        justify-content: space-between;
        .ColumnTitle {
            margin: 48px 0 32px;
        }
        .RoadmapColumn {
            h3 {
                @include H3;
                color: $darkGray;
            }
            h3 + p{
                @include Body1;
                color: $backButton;
            }
        }
    }
}
