$purple: hsl(282, 83%, 52%);
$blue: hsl(230, 76%, 59%);
$liteBlue: hsl(204, 94%, 68%);
$orange: hsl(14, 83%, 74%);
$white: hsl(0, 0%, 100%);
$gray: hsl(231, 100%, 97%);
$liteGray: hsl(230, 60%, 98%);
$backButton: hsl(230, 31%, 31%);
$darkGray: hsl(231, 33%, 34%);
$back: hsl(224, 20%, 49%);
$red: hsl(0, 67%, 53%);
